* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {

  background:
    radial-gradient(circle at top left,
      rgba(0,255,120,0.15),
      transparent 25%),

    radial-gradient(circle at bottom right,
      rgba(0,255,100,0.12),
      transparent 25%),

    linear-gradient(
      180deg,
      #081c15,
      #0b2d20,
      #081c15
    );

  color: white;

  overflow-x: hidden;

  position: relative;
}

/* GLOW EFFECTS */

body::before {
  content: "";

  position: fixed;

  width: 500px;
  height: 500px;

  background: rgba(0,255,100,0.08);

  filter: blur(120px);

  top: -100px;
  left: -100px;

  z-index: -1;
}

body::after {
  content: "";

  position: fixed;

  width: 450px;
  height: 450px;

  background: rgba(0,255,150,0.06);

  filter: blur(120px);

  bottom: -100px;
  right: -100px;

  z-index: -1;
}

a {
  text-decoration: none;
  color: white;
}

button {
  transition: 0.3s ease;
}

button:hover {
  box-shadow: 0 0 20px rgba(0, 255, 100, 0.5);
  transform: translateY(-2px);
  cursor: pointer;
}

/* NAVBAR*/

.navbar {
  width: 100%;

  padding: 20px 6%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 100;

  backdrop-filter: blur(10px);

  background: rgba(8, 28, 21, 0.5);

  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 24px;
  font-weight: bold;

  color: #95d5b2;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.navbar li {
  transition: 0.3s;
}

.navbar li:hover {
  color: #95d5b2;
}

.navbar button {
  padding: 12px 25px;

  border: none;
  border-radius: 10px;

  background: #2d6a4f;
  color: white;

  font-size: 15px;
}

/* HERO SECTION*/

.hero {
  min-height: 100vh;

  padding: 80px 6%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 60px;

  position: relative;
}

.hero::before {
  content: "";

  position: absolute;

  width: 350px;
  height: 350px;

  background: rgba(0,255,100,0.08);

  border-radius: 50%;

  filter: blur(100px);

  top: 50px;
  right: 100px;

  z-index: -1;
}

.hero-left {
  flex: 1;
  max-width: 600px;
}

.hero-left h1 {
  font-size: 76px;
  line-height: 1.1;

  margin-bottom: 20px;
}

.hero-left span {
  color: #95d5b2;
}

.hero-left p {
  line-height: 1.9;

  color: #d8d8d8;

  margin-bottom: 30px;

  font-size: 17px;
}

.hero-left button {
  padding: 15px 35px;

  border: none;
  border-radius: 12px;

  background: #2d6a4f;
  color: white;

  font-size: 16px;
}

.hero-right {
  flex: 1;

  display: flex;
  justify-content: center;
}

.hero-right img {
  width: 100%;
  max-width: 470px;

  border-radius: 30px;

  box-shadow:
    0 0 60px rgba(0,255,100,0.3),
    0 0 120px rgba(0,255,100,0.15);
}

/*PRODUCTS */

.products {
  padding: 120px 6%;
}

.products h2 {
  text-align: center;

  font-size: 46px;

  margin-bottom: 60px;
}

.product-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  gap: 35px;
}

.card {
  background: rgba(255,255,255,0.06);

  backdrop-filter: blur(14px);

  border: 1px solid rgba(255,255,255,0.1);

  padding: 20px;

  border-radius: 22px;

  transition: 0.3s;

  position: relative;

  overflow: hidden;
}

.card::before {
  content: "";

  position: absolute;

  width: 200px;
  height: 200px;

  background: rgba(0,255,100,0.08);

  border-radius: 50%;

  filter: blur(80px);

  top: -50px;
  right: -50px;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;

  aspect-ratio: 1/1;

  object-fit: cover;

  border-radius: 20px;
}

.card h3 {
  margin-top: 20px;

  font-size: 24px;
}

.card p {
  color: #95d5b2;

  margin: 10px 0;

  font-size: 18px;
}

.card button {
  padding: 12px 20px;

  border: none;
  border-radius: 10px;

  background: #2d6a4f;
  color: white;
}

/* REVIEWS */

.reviews {
  padding: 120px 6%;
}

.reviews h2 {
  text-align: center;

  margin-bottom: 60px;

  font-size: 46px;
}

.review-container {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
}

.review-card {
  flex: 1;
  min-width: 280px;

  background: rgba(255,255,255,0.06);

  backdrop-filter: blur(14px);

  border: 1px solid rgba(255,255,255,0.1);

  padding: 30px;

  border-radius: 22px;

  transition: 0.3s;
}

.review-card:hover {
  transform: translateY(-6px);
}

.review-card p {
  line-height: 1.8;

  color: #d8d8d8;

  margin-bottom: 20px;
}

.review-card h4 {
  color: #95d5b2;
}

.stars {
  display: flex;
  gap: 5px;

  color: #ffd60a;

  margin-bottom: 15px;
}

/*O2 SECTION*/

.o2-section {
  padding: 120px 6%;

  display: flex;
  align-items: center;

  gap: 60px;
}

.o2-left,
.o2-right {
  flex: 1;
}

.o2-left img {
  width: 100%;
  max-width: 450px;

  border-radius: 30px;

  box-shadow:
    0 0 60px rgba(0,255,100,0.25),
    0 0 120px rgba(0,255,100,0.12);
}

.o2-right h2 {
  font-size: 48px;

  margin-bottom: 20px;
}

.o2-right p {
  line-height: 1.9;

  color: #d8d8d8;

  margin-bottom: 30px;
}

.o2-right button {
  padding: 14px 30px;

  border: none;
  border-radius: 12px;

  background: #2d6a4f;
  color: white;
}

/*   ABOUT SECTION*/
.about {
  padding: 120px 6%;

  display: flex;
  align-items: center;

  gap: 60px;
}

.about-image,
.about-content {
  flex: 1;
}

.about-image img {
  width: 100%;
  max-width: 450px;

  border-radius: 30px;

  box-shadow:
    0 0 60px rgba(0,255,100,0.25),
    0 0 120px rgba(0,255,100,0.12);
}

.about-content h2 {
  font-size: 48px;

  margin-bottom: 20px;
}

.about-content p {
  line-height: 1.9;

  color: #d8d8d8;

  margin-bottom: 30px;
}

.about-content button {
  padding: 14px 30px;

  border: none;
  border-radius: 12px;

  background: #2d6a4f;
  color: white;
}

/*  FOOTER */

.footer {
  padding: 80px 6%;

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

  gap: 40px;

  border-top: 1px solid rgba(255,255,255,0.1);
}

.footer h2,
.footer h3 {
  margin-bottom: 20px;
}

.footer p {
  color: #d8d8d8;

  margin-bottom: 12px;

  transition: 0.3s;
}

.footer p:hover {
  color: #95d5b2;
}

.footer input {
  width: 100%;

  padding: 12px;

  border: none;
  border-radius: 10px;

  margin: 10px 0;

  outline: none;
}

.footer button {
  padding: 12px 20px;

  border: none;
  border-radius: 10px;

  background: #2d6a4f;
  color: white;
}

/* RESPONSIVE*/

@media (max-width: 900px) {

  .hero,
  .about,
  .o2-section {
    flex-direction: column;
    text-align: center;
  }

  .hero-left h1 {
    font-size: 52px;
  }

  .hero-right img,
  .about-image img,
  .o2-left img {
    width: 100%;
  }

  .navbar ul {
    display: none;
  }
}

@media (max-width: 768px) {

  .hero,
  .about,
  .o2-section {
    flex-direction: column;
    text-align: center;
  }

  .hero-left h1 {
    font-size: 42px;
  }

  .product-grid {
    grid-template-columns: 1fr;
  }

  .review-container {
    flex-direction: column;
  }

  .footer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-right img,
  .about-image img,
  .o2-left img {
    width: 100%;
  }
}